/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 25rem;
    border-radius: .9375rem;
    padding: 2.5rem;
}

.players > * {
    max-height: 7.5rem;
    vertical-align: middle;
}